services:

  keycloak:
    image: keycloak/keycloak:latest # Or a specific version
    command: start # Or 'start' for production
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KC_HTTP_ENABLED: 'true'
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_PROXY_HEADERS: 'xforwarded'
      KC_HOSTNAME: 'bans-auth.umbiro.com'
      PROXY_ADDRESS_FORWARDING: 'true'
    ports:
      - 8080:8080
    networks:
      - dokploy-network
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./themes:/opt/keycloak/themes/bans-green:ro
  postgres:
    image: ghcr.io/baosystems/postgis:16-3.5
    volumes:
      - keycloak_data_bans:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=keycloak
      - TZ=Africa/Harare
    networks:
      - dokploy-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h localhost -U postgres -d keycloak"]
      interval: 5s
      timeout: 5s
      retries: 1

volumes:
  keycloak_data_bans:
networks:
  dokploy-network:
    external: true
