services:
  keycloak:
    image: keycloak/keycloak:latest # Or a specific version
    command: start # Or 'start' for production
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bans.rule=Host(`keycloak.umbiro.com`)"
      - "traefik.http.routers.bans.entrypoints=websecure"
      - "traefik.http.routers.bans.tls.certresolver=letsencrypt"
      - "traefik.http.services.bans.loadbalancer.server.port=8000"
    networks:
      - dokploy-network
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./themes:/opt/keycloak/themes/bans-green:ro
  postgres:
    image: postgis/postgis:16-3.5-alpine
    volumes:
      - keycloak_data:/var/lib/postgresql/data
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=keycloak
      - TZ=Africa/Harare

volumes:
  keycloak_data:
networks:
  dokploy-network:
    external: true
